[defaults]
host_key_checking=False
force_color=1
; inventory=inventorie/inv.ini
inventory=inventories/inv.ini

remote_user=ubuntu
interpreter_python=auto_silent
deprecation_warnings=False
ansible_python_interpreter=/usr/bin/python3
gather_facts=false
; ansible_ssh_common_args='-o ProxyCommand="aws ssm start-session --target %h --document-name AWS-StartSSHSession --parameters \'portNumber=22\'"'


# [paramiko_connection]
# proxy_command = "aws ssm start-session --target i-048500104e72bb66a --document-name AWS-StartSSHSession --parameters 'portNumber=22'" 

# ; proxy_command = "aws ssm start-session --target %h --document-name AWS-StartSSHSession --parameters 'portNumber=22'" 

[inventory]
enable_plugins = aws_ec2, auto, host_list, yaml, ini, toml, script

[persistent_connection]
command_timeout = 30